.app {
  position: relative;
}
.loader {
  position: relative;
  width: 30%;
  height: 20px;

  margin-bottom: 10px;

  border-radius: 10px;
 
}

.loader-item {
  position: absolute;
  
  content: '';


  width: 16px;
  height: 16px;

  border-radius: 50%;
  
}
.item-first {
  top: calc(50% - 8px);
  left: 0;
  background-color: #F48E0E;
  animation: loader 1s ease-in-out infinite;
}
.item-second {
  top: calc(50% - 8px);
  right: 0;
  background-color: #c2710efb;
  animation: loader-revers 1s ease-in-out infinite;
}

@keyframes loader {
  0% {left: 0;}
  25% {transform: scale(0.7); z-index: 100;}
  50% {left: calc(100% - 16px); transform: scale(1);}
  75% {transform: scale(1.3); z-index: 200;}   
  100% {left: 0; transform: scaleZ(1);}
}
@keyframes loader-revers {
  0% {right: 0;}
  25% {transform: scale(1.3); z-index: 200;}
  50% {right: calc(100% - 16px); transform: scale(1);}
  75% {transform: scale(0.7); z-index: 100;}   
  100% {right: 0; transform: scaleZ(1);}
 }

 .loader-placeholder {
  width: 30%;
  height: 20px;
  margin-bottom: 10px;
 }

 .copy-btn {
   border-bottom: 1px solid rgba( 255, 255, 255, 0 );
   transition: border 0.3s ease;
 }
 .copy-btn:hover {
   cursor: pointer;
   border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
 }